<% layout('boilerplate') -%>
<div class="container">

    <div class="container-fluid view" set="home">
        <div class="row-fluid">
            <div class="offset1 span5">
                <br><br><br><br><br><br><br><br>
                home
            </div>
            <div class="offset1 span5">

            </div>
        </div>
    </div>

    <div class="container-fluid view" set="my">
        <div class="row-fluid">
            <div class="offset1 span5">
                <br><br><br><br><br><br><br><br>
                my
            </div>
            <div class="offset1 span5">

            </div>
        </div>
    </div>

    <div class="container-fluid view" set="catalog">
        <div class="row-fluid">
            <div class="offset1 span5">
                <br><br><br><br><br><br><br><br>
                catalog
            </div>
            <div class="offset1 span5">

            </div>
        </div>
    </div>

    <div class="container-fluid view" set="profile">
    </div>

    <div class="container-fluid view" set="forum">
    </div>

    <div class="container-fluid view" set="about">
    </div>

</div>