<div class="container-fluid view" set="home">
    <div class="row-fluid content" data-view-id="home"></div>
</div>

<div class="container-fluid view" set="find">
    <div class="row-fluid content" data-view-id="find"></div>
</div>

<div class="container-fluid view" set="share">
    <div class="row-fluid content" data-view-id="share"></div>
</div>

<div class="container-fluid view" set="forum">
    <div class="row-fluid content" data-view-id="forum"></div>
</div>

<div class="container-fluid view" set="about">
    <div class="row-fluid content" data-view-id="about"></div>
</div>

<div class="container-fluid view" set="user">
    <div class="row-fluid content" data-view-id="user"></div>
</div>
