<div class="row-fluid btn-toolbar "><nav>
    <div class="btn-group text-left span5" data-toggle="buttons-radio">
        <a href="catalog-newest" class="btn active"><i class="icon-rocket"></i> 最新</a>
        <a href="catalog-hottest" class="btn"><i class="icon-signal"></i> 热门</a>
        <a href="catalog-recommend" class="btn"><i class="icon-trophy"></i> 推荐</a>
    </div>
    <div class="btn-group text-center span2">
        <a class="btn btn-link floatButton" id="refreshAll" title="刷新"><i class="icon-refresh"> </i><span></span></a>
    </div>
    <div class="btn-group text-right span5">
        <a class="btn active largeIconsMode"><i class="icon-th-large"></i> 大图</a>
        <a class="btn waterfallMode"><i class="icon-th"></i> 小图</a>
    </div>
</nav></div>
<br>
<div class="row-fluid content" >
    <div class="show" data-view-id="catalog-newest-largeIcons"></div>
    <div class="hide" data-view-id="catalog-hottest-largeIcons"></div>
    <div class="hide" data-view-id="catalog-recommend-largeIcons"></div>
    <div class="hide" data-view-id="catalog-newest-waterfall"></div>
    <div class="hide" data-view-id="catalog-hottest-waterfall"></div>
    <div class="hide" data-view-id="catalog-recommend-waterfall"></div>
</div>
<div class="modal hide fade" id="dealDetailModal"></div>
