<div class="navbar-fixed-left"><div class="navbar-inner1"><nav>
        <ul class="nav nav-list1">
            <li>
                <a href="things-auto" data-value="auto" class="btn"><i class="icon-trophy"></i> 推荐</a>
            </li>
            <li>
                <a href="things-new" data-value="new" class="btn"><i class="icon-rocket"></i> 最新</a>
            </li>
            <li>
                <a href="things-hot" data-value="hot" class="btn"><i class="icon-signal"></i> 热门</a>
            </li>
            <li>
                <a class="btn" id="navHandle"><i class="icon-signal"></i> 隐藏</a>
            </li>
        </ul>
</nav></div></div>