<!--
<div class="row-fluid btn-toolbar "><nav>
    <div class="btn-group text-left span5" data-toggle="buttons-radio">
        <a href="things?sort=auto" class="btn"><i class="icon-trophy"></i> 推荐</a>
        <a href="things?sort=new" class="btn active"><i class="icon-rocket"></i> 最新</a>
        <a href="things?sort=hot" class="btn"><i class="icon-signal"></i> 热门</a>
    </div>
    <div class="btn-group text-center span2">
        <a class="btn btn-link floatButton" id="refreshAll" title="刷新"><i class="icon-refresh"> </i><span></span></a>
    </div>
    <div class="btn-group text-right span5">
        <a class="btn waterfall active"><i class="icon-th"></i> 瀑布墙</a>
        <a class="btn showcase"><i class="icon-th-large"></i> 幻灯</a>
    </div>
</nav></div>
-->
<br>
<div class="row-fluid content" >
    <div data-view-id="flow-ctrl"></div>
    <div data-view-id="nav"></div>
    <div data-view-id="things-auto"></div>
    <div data-view-id="things-new"></div>
    <div data-view-id="things-hot"></div>



    <div class="hide" data-view-id="things-auto-in-waterfall"></div>
    <div class="hide" data-view-id="things-auto-in-showcase"></div>
    <div class="hide" data-view-id="things-new-in-waterfall"></div>
    <div class="hide" data-view-id="things-new-in-showcase"></div>
    <div class="hide" data-view-id="things-hot-in-waterfall"></div>
    <div class="hide" data-view-id="things-hot-in-showcase"></div>
</div>