
    <div class="offset2 span1">
        <a class="carousel-control left" href="#carousel_<%=id%>" data-slide="prev" data-bypass>&lsaquo;</a>
    </div>
    <div class="span6">
        <div id="carousel_<%=id%>" class="carousel slide">
            <div class="row-fluid">
                <ol class="carousel-indicators">
                    <% _.each(input, function(item, index) { %>
                    <li data-target="#carousel_<%=id%>" data-slide-to="<%=index%>" class="<%=index==0?'active':''%>"></li>
                    <% }); %>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">
                    <% _.each(input, function(item, index) { %>
                    <div class="<%=index==0?'active':''%> item">
                        <li class="large-item">
                            <a class="btn btn-link itemImage" dealid="<%=item._id%>"><img alt="<%=item.sDesc%>" src="<%=item.image%>"></a>
                            <h4 data-placement="bottom" data-toggle="tooltip" title="<%=item.sDesc%>"><%=item.sDesc%></h4>
                            <br>
                            <ul class="inline">
                                <li><i class="icon-eye-open icon-2x" title="看过" alt="看过"> <%=item.meta.views%></i></li>
                                <li><i class="icon-heart icon-2x" title="喜欢" alt="喜欢"> <%=item.meta.likes%></i></li>
                                <li><i class="icon-check icon-2x" title="拥有" alt="拥有"> <%=item.meta.owns%></i></li>
                                <li><i class="icon-shopping-cart icon-2x" title="成交" alt="成交"> <%=item.meta.deals%></i></li>
                            </ul>
                        </li>
                    </div>
                    <% }); %>
                <!-- Carousel nav -->
            </div>
            </div>
        </div>
    </div>
    <div class="span1">
        <a class="carousel-control right" href="#carousel_<%=id%>" data-slide="next" data-bypass>&rsaquo;</a>
    </div>
