<nav><div class="my"><div class="menu">
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li><a href="my-profile" data-toggle="tab" set="user-profile">账户信息</a></li>
        <li><a href="my-posts" data-toggle="tab" set="user-creates">发布</a></li>
        <li><a href="my-stars" data-toggle="tab" set="user-stars">收藏</a></li>
    </ul>
<!--
    <div class="tab-content">
        <div class="tab-pane" id="user-profile">
            <p>I'm in Section A.</p>
        </div>
        <div class="tab-pane" id="user-creates">
            <p>Howdy, I'm in Section B.</p>
        </div>
        <div class="tab-pane active" id="user-stars">
            <p>What up girl, this is Section C.</p>
        </div>
    </div>
-->
</div>
</div></div></nav>