<nav><div class="my">
<div class="well summary">
    <ul>
        <li><div id="creates">
                <span class="icon">
                    <i class="icon icon-eye-open icon-large" title="发布" alt="发布"></i>
                </span>
                <span class="text">
                    <%=input.creates%>
                </span>
        </div></li>
        <li><div id="stars">
                <span class="icon">
                    <i class="icon icon-star icon-large" title="收藏" alt="收藏"></i>
                </span>
                <span class="text">
                    <%=input.stars%>
                </span>
        </div></li>
        <li><div id="reputations">
                <span class="icon">
                    <i class="icon icon-trophy icon-large" title="威望" alt="威望"></i>
                </span>
                <span class="text">
                    <%=input.rptts%>
                </span>
        </div></li>
    </ul>
</div>
</div></nav>