<div class="row-fluid">
    <br>
    <div class="alert alert-success hide">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>操作成功!</strong>&nbsp;&nbsp;<span>你可以继续发布信息。</span>
    </div>
    <div class="alert alert-error hide">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>操作失败!</strong>&nbsp;&nbsp;<span>抱歉，服务器发生错误，请稍后再试。</span>
    </div>
</div>
<div class="row-fluid">
    <div class="text-right bottom"><button id="import" class="btn btn-link floatButton">从其他网站导入...</button></div>
</div>
<div class="row-fluid">
    <div class="span4">
        <div class="row-fluid">
            <h4 class="span12">展示效果：</h4>
        </div>
        <div class="row-fluid">
            <div class="preview">
                <% if (!input.sDesc) { %>
                <h4 id="previewSDes">简短概括</h4>
                <% } else { %>
                <h4 id="previewSDes"><%=input.sDesc%></h4>
                <% } %>
                <img class="previewImage text-center" src="" alt="图片链接有误或因网络问题无法访问">
                <% if (!input.lDesc) { %>
                <p id="previewLDes">更多描述</p>
                <% } else { %>
                <p id="previewLDes"><%=input.lDesc%></p>
                <% } %>
                <div class="progress-icon"><i id="uploadIcon" class="icon-spinner icon-3x hide"> </i></div>
            </div>
        </div>
    </div>
    <div class="span8">
        <div class="row-fluid">
            <div class="span12">
                <h4>信息详情：</h4>
                <hr>
                <div class="row-fluid control-group hide" id="localImageContainer">
                    <label class="control-label span2 text-right" for="imageFile">本地图片</label>
                    <div class="span10">
                    <span class="btn fileinput-button span12">
                        <span id="fileName">选择本地图片...</span>
                        <!-- The file input field used as target for the file upload widget -->
                        <input id="imageFile" class="span12" type="file" name="files[]" accept="image/jpg, image/jpeg, image/png, image/gif">
                    </span>
                    </div>
                </div>
                <div class="row-fluid control-group" id="imageURLContainer">
                    <div class="span2 text-right">
                        <span class="btn-static-noborder">更多图片</span>
                    </div>
                    <div class="span10">
                        <div class="row-fluid" id="morePictureContainer">
                            <div class="previewSmall span2">
                                <img class="previewImageSmall text-center" src="" alt="图片链接有误或因网络问题无法访问">
                                <div class="text-center"><button class="btn btn-link floatButton"><i class="icon-plus"></i></button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row-fluid control-group" id="shortDesContainer">
                    <div class="span2 text-right">
                        <span class="btn-static-noborder">简短概括</span>
                    </div>
                    <div class="span10">
                        <input class="span12" id="shortDes" type="text" placeholder="简单概括下商品" value="<%=input.sDesc%>">
                    </div>
                </div>
                <div class="row-fluid control-group" id="longDesContainer">
                    <div class="span2 text-right">
                        <span class="btn-static-noborder">推荐理由</span>
                    </div>
                    <div class="span10">
                        <textarea class="span12" rows="5" id="longDes" placeholder="说说为什么推荐这个商品吧～～"><%=input.lDesc%></textarea>
                    </div>
                </div>
                <div class="row-fluid control-group" id="dealLinkContainer">
                    <div class="span2 text-right">
                        <span class="btn-static-noborder">商品链接</span>
                    </div>
                    <div class="span10">
                        <input class="span12" id="dealLink" type="text" placeholder="商品来源网站的完整链接" value="<%=input.dUrl%>">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="offset2 span10">
                        <% if (!input._id) { %>
                        <button id="publishDealInfo" class="btn btn-primary"><i class="icon-share"> 发布信息</i></button>
                        <button id="clearDealInfo" class="btn"><i class="icon-columns"> 清空信息</i></button>
                        <% } else { %>
                        <button id="updateDealInfo" class="btn btn-primary"><i class="icon-save"> 更新信息</i></button>
                        <button id="deleteDealInfo" class="btn btn-danger"><i class="icon-trash"> 删除信息</i></button>
                        <button id="abandonChange" class="btn"><i class="icon-eraser"> 放弃修改</i></button>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hide">
    <input id="upaiUploadFile" type="file" name="file" accept="image/jpg, image/jpeg, image/png, image/gif">
</div>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel">请指定商品页面链接尝试导入</h4>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
        <div class="span12">
            <input class="span12" id="imageURL" type="text" placeholder="其他网站中商品信息页面的完整链接" value="<%=input.image%>">
        </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="btn btn-primary">导入...</button>
    </div>
</div>
