<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%=input.sDesc%></h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="span6 text-left">
            <div class="row-fluid">
                <img id="previewImg" src="<%=input.image%>" class="img-rounded span12">
            </div>
        </div>
        <div class="span6 text-left">
            <div class="row-fluid">
                <p><%=input.lDesc%></p>
                <p>想了解更多信息么？<br>你可以<a href="javascript: window.open('<%=input.dUrl%>');"><i class="icon-share"> 转到交易网站</i></a>，或者<a><i class="icon-comment"> 联系<%=input.updBy%></i></a>。</p>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="text-center">
            <br>
            <ul class="inline">
                <li><span class="btn-static-noborder color-blue"><i class="icon-eye-open icon-2x" title="看过" alt="看过"> <%=input.meta.views%></i></span></li>
                <% if (input.liked == true) { %>
                <li><span class="btn-static-noborder color-blue"><i class="icon-heart icon-2x" title="喜欢" alt="喜欢"> <%=input.meta.likes%></i></span></li>
                <% } else { %>
                <li><a class="btn btn-link floatButton" id="likeDeal"><i class="icon-heart icon-2x" title="喜欢" alt="喜欢"> <%=input.meta.likes%></i></a></li>
                <% }
                if (input.owned == true) { %>
                <li><span class="btn-static-noborder color-blue"><i class="icon-check icon-2x" title="拥有" alt="拥有"> <%=input.meta.owns%></i></span></li>
                <% } else { %>
                <li><a class="btn btn-link floatButton" id="ownDeal"><i class="icon-check icon-2x" title="拥有" alt="拥有"> <%=input.meta.owns%></i></a></li>
                <% } %>
                <li><span class="btn-static-noborder color-blue"><i class="icon-shopping-cart icon-2x" title="成交" alt="成交"> <%=input.meta.deals%></i></span></li>
            </ul>
            <p>本信息由 <%=input.crtBy%> 创建于 <%=input.crtOn%>，由 <%=input.updBy%> 更新于 <%=input.updOn%>。</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal"><i class="icon-eject"> 关闭</i></button>
    <a href="/share/<%=input._id%>" class="btn btn-primary" data-dismiss="modal"><i class="icon-edit"> 编辑</i></a>
</div>
