<div class="row-fluid"><div class="container-fluid showcase">

<%
    var metaDefaults = {views: 0, likes: 0, owns: 0, deals: 0};
    var meta = _.defaults(input.meta||{}, metaDefaults);
%>

    <div class="row-fluid">

        <div class="span2">
            <!--
            <div class="tabs fixed">
                <div class="">产品</div>
                <div class="">评论</div>
            </div>
            -->
        </div>
        <div class="span8 thing split-left split-right"><div class="thing-inner">
            <div class="row-fluid split-bottom">
                <nav><div class="thing-header">
                    <div class="span3 nav">
                        <a  class="btn"><i class="icon-chevron-left icon-large"></i></a>
                        <a href="/things-auto" class="btn"><i class="icon-th icon-large"></i></a>
                        <a  class="btn"><i class="icon-chevron-right icon-large"></i></a>
                    </div>
                    <div class="span8">
                        <h3 class="text-center2"><%=input.sDesc%></h3>
                    </div>
                </div></nav>
            </div>
            <div class="row-fluid">
                <div class="snapshot">
                    <div class="image"><img src="<%=input.image%>" class="img-rounded"></div>
                    <div class="wrap">
                        <div class="icons">
                            <span id="like" class="<%=input.liked?'active':''%>">
                                <div class="icon">
                                <i class="<%=input.liked?'icon-thumbs-up':'icon-thumbs-up-alt'%> icon-2x" title="喜欢" alt="喜欢"></i>
                                </div>
                                <label class="text"><%= meta.likes===0 ? '' : meta.likes%></label>
                            </span>
                            <span id="star" class="<%=input.starred?'active':''%>">
                                <div class="icon">
                                <i class="<%=input.starred?'icon-star':'icon-star-empty'%> icon-2x" title="收藏" alt="收藏"></i>
                                </div>
                                <label class="text"><%= meta.stars===0 ? '' : meta.stars%></label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="split-top split-bottom split-left split-right">
                <ul class="thumbnails">
            <%
                var len = input.images?input.images.length:1;
                for(var i=0; i<len; i++){
                    var thumbnail = input.images[i];
            %>
                <li class="item">
<a class="thumbnail"><img class="img-rounded" data-src="holder.js/200x120" alt="" src="<%=thumbnail%>"></a>
                </li>
            <%
                }
            %>
                </ul>
                </div>
            </div>
            <div class="row-fluid vpad">
            </div>
            <div class="row-fluid">
                <div class="desc">
                <p><%=input.lDesc%></p>
                </div>
                <div class="status">
                    <div class="span8">
                    <p>由<%=input.crtBy%> 分享于 <%=input.crtOn%></p>
                    <p>由<%=input.updBy%> 更新于 <%=input.updOn%></p>
                    </div>
                </div>
            </div>
            <div class="row-fluid thing-footer"></div>

        </div></div>
        <div class="span2">
            <div class="actions">
            <ul>
                <li>
                    <a class="btn" id="share"><i class="icon-share icon-large"> 分享</i></a>
                </li>
                <li>
                    <a class="btn" id="comment"><i class="icon-comment icon-large"> 评论</i></a>
                </li>
            </ul>
            </div>
        </div>
    </div>
    <div class="row-fluid vpad"></div>
    <div class="row-fluid vpad"></div>
</div></div>