<div class="row-fluid"><div class="offset2 span9"><div class="container-fluid waterfall">

<%
    //Init an array to hold N lines of items which the coming items are divided into
    var lineCount = 3; //the N
    var lineIndex = 0;
    var lines = new Array(lineCount);
    for(lineIndex=0; lineIndex<lineCount; lineIndex++){
        lines[lineIndex] = [];
    }

    //Rearrange/divide coming items to N lines
    _.each(input, function(item, index) {
        lineIndex = index%lineCount;
        lines[lineIndex].push(item);
    });

    //Make a default meta object
    var metaDefaults = {
        views: 0,
        likes: 0,
        owns: 0,
        deals: 0
    };

    //Loop lines to generate lanes
    for(lineIndex=0; lineIndex<lineCount; lineIndex++){
        var line = lines[lineIndex];
        var itemIndex = 0;
        var itemLen = line.length;
%>
    <div class="lane"><ul>
<%
        //Loop items in a line to generate a lane
        for(var itemIndex=0; itemIndex<itemLen; itemIndex++){
            var item = line[itemIndex];
            var meta = _.defaults(item.meta||{}, metaDefaults);
%>
        <li><div class="frame">
        <div class="thing">
            <div class="thing-inner">
                <input type="hidden" id="thingId" value="<%=item._id%>">
                <a href="/thing-<%=item._id%>">
                <div class="prev"><img alt="<%=item.sDesc%>" src="<%= item.image ? item.image + '' : 'javascript:' %>"></div>
                </a>
                <div class="wrap">
                    <div class="icons">
                            <span id="like" class="<%=item.liked?'visited':''%>">
                                <i class="icon icon-thumbs-up-alt icon-large" title="喜欢" alt="喜欢"></i>
                                <label class="text"><%=meta.likes==0?'': ' ('+meta.likes+')'%></label>
                            </span>
                            <span id="star" class="<%=item.starred?'visited':''%>">
                                <i class="icon <%=item.starred?'icon-star':'icon-star-empty'%> icon-large" title="收藏" alt="收藏"></i>
                                <label class="text"><%=meta.stars==0?'': ' ('+meta.stars+')'%></label>
                            </span>
                    </div>
                    <!--
                    <div class="action-bar">
                            <span id="like" class="<%=item.liked?'visited':''%>">
                                <i class="icon icon-thumbs-up-alt icon-large" title="喜欢" alt="喜欢"></i>
                                <label class="text"><%=meta.likes==0?'': ' ('+meta.likes+')'%></label>
                            </span>
                    </div>
                    -->
                </div>
                <h4 data-placement="bottom" data-toggle="tooltip" title="" data-original-title="<%=item.sDesc%>"><%=item.sDesc%></h4>
                <div class="desc"><%= item.lDesc%></div>
            </div>
        </div>
        </div></li>
<%
        }
%>
    </ul></div>
<%
    }
%>

</div></div></div>