<div class="row-fluid">
    <ul>
<%
        var metaDefaults = {
            views: 0,
            likes: 0,
            owns: 0,
            deals: 0
        };
        _.each(input, function(item, index) {
            var meta = _.defaults(item.meta||{}, metaDefaults);
%>
        <li class="thing" dealId="<%=item._id%>">
            <h4 data-placement="bottom" data-toggle="tooltip" title="" data-original-title="<%=item.sDesc%>"><%=item.sDesc%></h4>
            <p><img alt="<%=item.sDesc%>" src="<%=item.image%>!small"></p>
            <p><ul class="inline text-center">
                <li><i class="icon-eye-open"> <%=meta.views%></i></li>
                <li><i class="icon-heart"> <%=meta.likes%></i></li>
                <li><i class="icon-check"> <%=meta.owns%></i></li>
                <li><i class="icon-shopping-cart"> <%=meta.deals%></i></li>
            </ul></p>
        </li>
<% }); %>
    </ul>
</div>