html {
  overflow: auto;
  height: 100%;
}
body {
  height: 100%;
  background-color: white;
  background: url(../img/background.png) repeat;
  background1: -webkit-linear-gradient(bottom right, #f6f6f7, #ffffff);
  background1: -moz-linear-gradient(bottom right, #f6f6f7, #ffffff);
}
form {
  margin: 0px;
  padding: 0px;
}
input.input-warning {
  background-color: #fcf8e3;
}
input.input-error {
  background-color: #f2dede;
}
input.input-info {
  background-color: #d9edf7;
}
input.input-success {
  background-color: #dff0d8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
}
body > div > section > div {
  clear: both;
  height: auto !important;
  margin-top: 0px;
  margin-bottom: 0px;
  border-left: 0px solid #777;
  border-right: 0px solid #777;
}
.vspan1 {
  height: 50px;
}
.vspan2 {
  height: 100px;
}
.vspan3 {
  height: 150px;
}
.vspan4 {
  height: 200px;
}
.vspan5 {
  height: 250px;
}
.vspan6 {
  height: 300px;
}
.vspan7 {
  height: 350px;
}
.vspan8 {
  height: 400px;
}
.vspan9 {
  height: 450px;
}
.vspan10 {
  height: 500px;
}
.nomargin {
  margin: 0px;
}
.row-fluid [class*="span"].nomargin {
  margin: 0px;
}
.nopadding {
  padding: 0px;
}
.row-fluid [class*="span"].nopadding {
  padding: 0px;
}
.padding {
  height: 20px;
  width: 100%;
  display: table;
  content: "";
  float: left;
  min-height: 1px;
}
.vpad {
  padding-top: 30px;
}
.hpad {
  padding-left: 20px;
}
.vsplit {
  border: 0;
  border-left: 1px solid #e5e5e5;
  margin: 2px;
}
.hsplit {
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  margin: 2px;
}
.panel {
  padding: 10px;
  margin: 10px;
  opacity: 1;
  border: 1px outset #DDDDDD;
  background: #FFF;
  background1: -webkit-linear-gradient(bottom right, #f6f6f7, #ffffff);
  background1: -moz-linear-gradient(bottom right, #f6f6f7, #ffffff);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
button.cystal-button {
  border: 0px;
  background-color: transparent;
}
button:hover.button-icon {
  border: 0px;
}
button.cystal-button img {
  width: 36px;
  height: 36px;
  border: 2px inset transparent;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: .5;
  background-color: #ffffff;
}
button:hover.cystal-button img {
  width: 36px;
  height: 36px;
  border: 2px outset #fff;
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  background-color: #eeeeee;
}
button.cystal-button img.pressed {
  width: 36px;
  height: 36px;
  border: 2px inset #fff;
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  background-color: #eeeeee;
}
button:focus.cystal-button img {
  width: 36px;
  height: 36px;
  border: 2px intset #fff;
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  background-color: #eeeeee;
}
.cell-right {
  display: table-cell;
  float: right;
  text-align: right;
}
.fieldset {
  display: inline;
  font-size: 14px;
  font-weight: bold;
}
.panel .row-fluid div[class*="span"].btn-toolbar {
  margin: 3px;
}
.row-fluid [class*="span"].fieldset-bar {
  display: inline;
  font-size: 14px;
  font-weight: bold;
  line-height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  min-height: 1px;
  border: 0;
  bordetop: 1px solid #e5e5e5;
}
.panel {
  padding: 10px;
  margin: 10px;
  opacity: 1;
  border: 1px outset #DDDDDD;
  background: #FFF;
  background1: -webkit-linear-gradient(bottom right, #f6f6f7, #ffffff);
  background1: -moz-linear-gradient(bottom right, #f6f6f7, #ffffff);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
/*
 * Field
 */
.field {
  height: 40px;
  margin: 0px;
  padding: 0px;
}
/*
.panel .row-fluid  div[class*="span"]{
    margin: 0px;
    padding: 0px;
}
*/
/*
 * Prompt
 */
.prompt {
  height: 36px;
  margin: 0px;
  vertical-align: middle;
  float: left;
  text-align: left;
  display: table;
}
.row-fluid div[class*="span"].prompt {
  margin: 2px 0px 2px 0px;
}
.prompt > div {
  vertical-align: middle;
  display: table-cell;
  padding-left: 4px;
  background: #eee;
  background1: -webkit-linear-gradient(left, #eeeeee, #ffffff);
  background1: -moz-linear-gradient(left, #eeeeee, #ffffff);
}
.row-fluid .prompt {
  display: table;
}
/*
 * Static Information
 */
.static {
  height: 34px;
  margin: 0px;
  vertical-align: middle;
  border-bottom: 2px solid #EEE;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  display: table;
  background-color1: #F6F6F7;
  background1: url(../img/background.png) repeat;
  background1: -webkit-linear-gradient(left, #f6f6f7, #ffffff);
  background1: -moz-linear-gradient(left, #f6f6f7, #ffffff);
}
.static > div {
  vertical-align: middle;
  display: table-cell;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.row-fluid .static {
  display: table;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.row-fluid div[class*="span"].static {
  margin: 2px 0px 2px 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
/*
 * Input
 */
.input {
  height: 36px;
  margin: 0px;
  border-bottom: 2px solid #EEE;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
}
.row-fluid div[class*="span"].input {
  margin: 2px 0px 2px 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
/*
 * Control row
 */
.control {
  height: 40px;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
}
.row-fluid div[class*="span"].control {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.vlarge.field {
  height: 50px;
}
.vlarge.field > .prompt {
  height: 46px;
}
.vlarge.field > .static {
  height: 44px;
}
.vlarge.row-fluid div[class*="span"].static {
  margin: 2px 0px 2px 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
.vlarge.field > .input {
  height: 46px;
}
.vlarge.row-fluid div[class*="span"].input {
  margin: 2px 0px 2px 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
.vlarge.field > .control {
  height: 50px;
}
.vlarge.row-fluid div[class*="span"].control {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.vlarge.field > div > input,
.vlarge.field > div > select {
  height: 30px;
  line-height: 26px;
}
/* .vlarge.field > div > textarea */
.vlarge.field > div > .add-on {
  height: 30px;
}
.vlarge.field > div > .add-on > .icon-help {
  margin-top: 5px;
}
.btn.btn-toggle.btn-on {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.navbar-inverse .nav > li > a {
  color: #E2F7FF;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .nav > li > a:hover {
  color: #FFFFFF;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .nav > li > button {
  margin: 7px 5px 7px 5px;
}
.navbar-inverse .nav-collapse .nav > li > a {
  color: #E2F7FF;
}
.navbar-inverse .nav-collapse .nav > li > a:hover {
  color: #FFFFFF;
}
.navbar-inverse .nav-collapse .nav > li.active > a {
  color: #FFFFFF;
}
.highlightBox {
  background: #FFF;
  opacity: 0.8;
  -webkit-box-shadow: 0 0px 30px rgba(255, 255, 255, 0.575);
  -moz-box-shadow: 0 0px 30px #ffffff;
  box-shadow: 0 0px 30px #ffffff;
}
#lean_overlay {
  position: fixed;
  z-index: 3000;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}
.badge-small {
  background-color: #AAAAAA;
  font-size: 12px;
  padding: 1px 5px 2px;
}
.beta-45 {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  color: yellow;
  width: 30px;
  height: 30px;
  top: 2px;
  left: 2px;
  background-color: transparent;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.beta {
  position: absolute;
  font-size: 11px;
  font-weight: bold;
  color: yellow;
  width: 30px;
  height: 30px;
  top: -4px;
  left1: 2px;
  background-color: transparent;
}
.i18n {
  margin: 5px 0px 5px 0px;
  vertical-align: middle;
  width: 110px;
  height: 30px;
}
.triangle-l,
.triangle-r,
.triangle-t,
.triangle-b,
.triangle-lt,
.triangle-lb,
.triangle-rt,
.triangle-rb {
  display: block;
  height: 0px;
  width: 0px;
  border-color: transparent;
  border-style: dashed;
  border-width: 10px;
  overflow: hidden;
  /*ie6 for bug*/
}
.triangle-l {
  border-left-color: #69F;
  border-left-style: solid;
  /*ie6 for dashed bug */

}
.triangle-r {
  border-right-color: #69F;
  border-right-style: solid;
  /*ie6 for dashed bug */

}
.triangle-t {
  border-top-color: #69F;
  border-top-style: solid;
  /*ie6 for dashed bug */

}
.triangle-b {
  border-bottom-color: #69F;
  border-bottom-style: solid;
  /*ie6 for dashed bug */

}
.triangle-lt {
  border-left-color: #FFF;
  border-left-style: solid;
  /*ie6 for dashed bug */

  border-width: 0px 0px 20px 20px;
}
.triangle-lb {
  border-bottom-color: #FFF;
  border-bottom-style: solid;
  /*ie6 for dashed bug */

  border-width: 0px 20px 20px 0px;
}
.triangle-rt {
  border-top-color: #FFF;
  border-top-style: solid;
  /*ie6 for dashed bug */

  border-width: 20px 0px 0px 20px;
}
.triangle-rb {
  border-right-color: #FFF;
  border-right-style: solid;
  /*ie6 for dashed bug */

  border-width: 20px 20px 0px 0px;
}
/* Sidenav for Docs
-------------------------------------------------- */
.sidenav {
  width: 228px;
  margin: 3px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
/* Chevrons */
.sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.sidenav .active .icon-chevron-right,
.sidenav .active a:hover .icon-chevron-right {
  opacity: 0;
}
.sidenav.affix {
  top: 40px;
}
.sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}
.sidenav > li.active > a {
  background-color: #3FA7CB;
}
.sidenav > li.active > a:hover {
  background-color: #3FA7CB;
}
.sidenav > li.active a .icon-chevron-right {
  opacity: 0;
}
.row-fluid .hsp12 {
  width: 100%;
  *width: 99.94680851063829%;
}
.row-fluid .hsp11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}
.row-fluid .hsp10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}
.row-fluid .hsp9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}
.row-fluid .hsp8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}
.row-fluid .hsp7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}
.row-fluid .hsp6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}
.row-fluid .hsp5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}
.row-fluid .hsp4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}
.row-fluid .hsp3 {
  width: 23.404255319148934%;
  *width: 23.351063829787232%;
}
.row-fluid .hsp2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}
.row-fluid .hsp1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}
.content-padding {
  margin-top: 40px;
}
