
    <div class="offset2 span1">
        <a class="carousel-control left" href="#carousel_<%=id%>" data-slide="prev" data-bypass>&lsaquo;</a>
    </div>
    <div class="span6">
        <div id="carousel_<%=id%>" class="carousel slide">
            <div class="row-fluid">
                <ol class="carousel-indicators">
                    <% _.each(input, function(item, index) { %>
                    <li data-target="#carousel_<%=id%>" data-slide-to="<%=index%>" class="<%=index==0?'active':''%>"></li>
                    <% }); %>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">
                    <% _.each(input, function(item, index) { %>
                    <div class="<%=index==0?'active':''%> item">
                        <li class="large-item">
                            <a target="_blank"><img alt="<%=item.title%>" src="<%=item.imageUrl%>"></a>
                            <h4 data-placement="bottom" data-toggle="tooltip" title="<%=item.title%>"><%=item.title%></h4>
                            <p>
                                <span class="fanciers"><i class="icon-heart"></i><span class="fanciers_count"><%=item.likes%></span></span>
                                <span class="owners"><i class="icon-check"></i><span class="owners_count"><%=item.views%></span></span>
                                <span class="owners"><i class="icon-eye-open"></i><span class="owners_count"><%=item.views%></span></span>
                            </p>
                        </li>
                    </div>
                    <% }); %>
                <!-- Carousel nav -->
            </div>
            </div>
        </div>
    </div>
    <div class="span1">
        <a class="carousel-control right" href="#carousel_<%=id%>" data-slide="next" data-bypass>&rsaquo;</a>
    </div>
