<div class="span6">
    <h4 class="offset3 span8">效果预览：</h4>
    <ul class="thumbnails">
        <li class="offset3 span8">
            <div class="thumbnail">
                <a href="/share" id="previewLink">
                <img id="previewImg" src="#" class="img-rounded" width="600" height="800">
                <h4 id="previewSDes" class="text-center" data-placement="bottom" data-toggle="tooltip">简短概括</h4>
                <p id="previewLDes" data-placement="bottom" data-toggle="tooltip">更多描述</p>
                </a>
            </div>
        </li>
    </ul>
</div>
<div class="span6">
    <h4>信息详情：</h4>
    <hr>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label span2" for="imageFile">商品图片</label>
            <div class="controls btn-group span8">
                <span class="btn fileinput-button span12">
                    <span id="fileName">选择本地图片...</span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input id="imageFile" type="file" name="files[]">
                </span>
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li><a tabindex="-1" href="javascript: $('#myModal').modal('show');" data-toggle="modal">使用远程图片链接...</a></li>
                </ul>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label span2" for="shortDes">简短概括</label>
            <div class="controls span8">
                <input class="span12" id="shortDes" type="text" placeholder="简单概括下商品">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label span2" for="longDes">推荐理由</label>
            <div class="controls span8">
                <textarea class="span12" rows="5" id="longDes" placeholder="说说为什么推荐这个商品吧～～"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label span2" for="productLink">商品链接</label>
            <div class="controls span8">
                <input class="span12" id="productLink" type="text" placeholder="商品来源网站的完整链接">
            </div>
        </div>
        <hr>
        <div class="control-group">
            <div class="controls offset2 span8">
                <button type="submit" class="btn btn-primary">公开分享信息</button>
                <button class="btn">清空信息</button>
            </div>
        </div>
    </form>
</div>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <h4 id="myModalLabel" class="control-label" for="imageLink">远程图片链接地址：</h4>
    </div>
    <div class="modal-footer">
        <input class="span12" id="imageLink" type="text" placeholder="远程图片的完整链接">
        <div class="controls text-right">
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            <button id="saveImageLink" class="btn btn-primary">保存链接</button>
        </div>
    </div>
</div>
