<div class="span6">
    <h4 class="offset3 span8">效果预览：</h4>
    <ul class="thumbnails">
        <li class="offset3 span8">
            <div class="thumbnail">
                <img src="/public/uploads/tmptest.jpg" class="img-rounded" width="600" height="800">
                <h4 class="text-center" data-placement="bottom" data-toggle="tooltip">简短概括</h4>
                <p data-placement="bottom" data-toggle="tooltip">更多描述</p>
            </div>
        </li>
    </ul>
</div>
<div class="span6">
    <h4>信息详情：</h4>
    <br>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label span2" for="imageFile">分享图片</label>
            <div class="controls span9">
                <span class="btn btn-success fileinput-button span11">
<!--
                    <i class="icon-picture icon-white"></i>
-->
                    <span id="fileName">选择文件...</span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input id="imageFile" type="file" name="files[]" multiple>
                </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label span2" for="imageLink">图片链接</label>
            <div class="controls span9">
                <input class="span11" id="imageLink" type="text" placeholder="商品来源网站的完整链接">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label span2" for="shortDes">简短概括</label>
            <div class="controls span9">
                <input class="span11" id="shortDes" type="text" placeholder="简单概括下发布的商品">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label span2" for="longDes">更多描述</label>
            <div class="controls span9">
                <textarea class="span11" rows="5" id="longDes" placeholder="还有什么额外的信息可以帮助别人快速了解商品？"></textarea>
            </div>
        </div>
        <hr>
        <div class="control-group">
            <div class="controls offset2 span9">
                <button type="submit" class="btn btn-primary">发布分享</button>
            </div>
        </div>
    </form>
</div>